<div class="container animated fadeIn fast">
  <h1 class="mt-3">Sobre Comic App</h1>
  <hr />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum officia dolor
    at sapiente obcaecati perferendis iste quo voluptates dolorum. Nesciunt quam
    vero incidunt, eligendi eveniet alias tempore error impedit corporis. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Ipsum officia dolor at
    sapiente obcaecati perferendis iste quo voluptates dolorum. Nesciunt quam
    vero incidunt, eligendi eveniet alias tempore error impedit corporis.
  </p>
</div>
